<div id="page-wrapper">
  <div id="profile-image">
    <%= image_tag "profile.png" %>
  </div>

  <div id="content">
    <h1>Valerie Jane</h1>
    <p>Food truck craft beer disrupt asymmetrical kale chips neutra normcore meditation direct trade humblebrag shoreditch you probably haven't heard of them. Tumeric swag locavore marfa portland copper mug aesthetic, single-origin coffee sartorial vinyl tilde lyft vaporware ennui. Taiyaki readymade flannel distillery. Before they sold out knausgaard lyft hammock brooklyn jean shorts edison bulb chia keytar photo booth umami. Schlitz banh mi taxidermy kogi glossier, narwhal vinyl pork belly mixtape asymmetrical gentrify pop-up edison bulb vegan.

Swag flannel jean shorts, typewriter unicorn stumptown plaid seitan cloud bread biodiesel squid selvage distillery leggings. Green juice gastropub bushwick, hella salvia small batch chambray pug synth distillery letterpress la croix palo santo you probably haven't heard of them. Gentrify cliche cloud bread lumbersexual dreamcatcher shoreditch offal mumblecore fashion axe palo santo butcher four loko microdosing seitan adaptogen. Seitan shabby chic woke blog air plant DIY master cleanse succulents trust fund church-key vegan. Put a bird on it succulents heirloom, beard pok pok roof party pug pabst.
    </p>
  </div>
</div>
